@import url('https://fonts.googleapis.com/css2?family=Sora:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Sora:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Sora:wght@600&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    margin: 0;
    padding: 0;
    background-color: #060714;
    font-family: 'Sora';
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: white;
}

li {
    list-style: none;
}

ul {
    padding: 0;
}

button{
    font-family: 'Sora', 'sans-serif';
}

img {
    user-select: none;
    display: block;
    max-width: 100%;
}

body *::selection{
    background-color: #2427c9;
    color: white;
}

.grid-section {
    display: grid;
    grid-template-columns: 1fr minmax(200px, 1200px) 1fr;
}

.grid-section section, .grid-section footer {
    grid-column: 2;
}
