.icons-graph {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitle-icons {
    font-size: var(--font-h2);
    line-height: var(--line-height-h2);
    letter-spacing: var(--short-letter-spacing);
}

.icons-graph p {
    font-family: 'Inter';
    font-weight: 400;
    color: var(--steel);
    font-size: var(--font-body-medium);
    line-height: var(--line-height-body-medium);
    letter-spacing: var(--short-letter-spacing);
    margin-top: 5px;
}

.icons-graph img {
    margin-bottom: 15px;
}