.learn-section {
    width: 100%;
}

.learn-content {
    display: grid;
    grid-template-areas:
        "text image";
    grid-template-columns: 1fr 1fr;
    margin-top: 150px;
}



.text-content {
    grid-area: text;
    margin-top: 120px;
}

.text-content p {
    margin-top: 30px;
    font-family: 'Inter';
    font-weight: 400;
    color: var(--steel);
    font-size: var(--font-body-medium);
    line-height: var(--line-height-body-medium);
    letter-spacing: var(--short-letter-spacing);
}


.img-content {
    grid-area: image;
}

.learn-title {
    display: block;
    color: var(--white);
    font-size: var(--font-h1);
    line-height: var(--line-height-h1);
    letter-spacing: var(--short-letter-spacing);
}

.subtitle-learn {
    margin-bottom: 15px;
    font-weight: 500;
}

.buttons-learn {
    margin-top: 60px;
    display: flex;
    gap: 10px;
}

@media(max-width: 1100px) {
    .learn-content {
        display: grid;
        grid-template-areas:
            "image"
            "text";
        grid-template-columns: 1fr;
    }

    .text-content {
        text-align: center;
        margin-top: 50px;
    }

    .buttons-learn {
        justify-content: center;
    }

    .img-content {
        margin: 0 auto;
        max-width: 40%;
    }

    .learn-title {
        margin: 0 auto;
        font-size: var(--font-h2);
        line-height: var(--line-height-h2);
        max-width: 800px;
    }
}

@media(max-width: 600px) {
    .learn-title {
        font-size: var(--font-h5);
        line-height: var(--line-height-h5);
    }

    .buttons-learn {
        flex-wrap: wrap;
    }

    .learn-content {
        margin-top: 60px;
    }
}