.transparent {
    color: var(--steel);
    background: var(--transparent);
    padding: 16px 24px;
    border: 2px solid var(--dark-gray);
    border-radius: 12px;
    font-weight: 600;
    font-size: var(--font-body-medium);
    line-height: var(--line-height-body-medium);
    letter-spacing: var(--short-letter-spacing);
    cursor: pointer;
    transition: all 0.4s;
 
}

.transparent:hover {
    border-color: var(--steel);
}

@media (max-width: 700px) {
    .transparent {
        font-size: var(--font-body-normal);
        line-height: var(--line-height-body-normal);
        letter-spacing: var(--short-letter-spacing);
        padding: 10px 12px;
    }
}