.transparent {
    color: #7780A1;
    background: transparent;
    width: 117px;
    height: 52px;
    border: 2px solid #262840;
    border-radius: 12px;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: 0.0125em;
    cursor: pointer;
}