
.card-content {
    display: grid;
    width: 400px;
    border: 1px solid #262840;
    border-radius: 20px;
    padding: 24px;
    color: white;
}

.card-img {

    width: 400px;
    height: 520px;
}

.card-info {
    margin-top: 20px;
    display: grid;
    gap:10px;
    grid-template-areas:
    "description description description coin"
    "timer timer timer timer";
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.timer {
    grid-area: timer;
    display: flex;
    align-items: center;
    font-family: 'Inter';
}


.description {
    grid-area: description;
    font-size: 20px;

}

.coin {
    grid-area: coin;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #514CFF;
    height: 36px;
    background: rgba(81, 76, 255, 0.15);
}

.footer-card {
    display: flex;
    gap: 16px;
    padding-left: 0px;
    align-items: center;
    
}

.divider {
    border-top: 1px solid #262840;
    margin: 20px 0 20px;
}

.avatar {
    display: flex;
    align-items: center;
    align-content: center;
}
.avatar li + li {
    margin-left: -10px;
}

.footer-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-card p {
    font-family: 'Inter';
    font-weight: 400;
    letter-spacing: 0.2px;
    font-size: 14px;
    display: flex;
    align-items: center;

}

.icon {
    margin-right: 5px;
}