.card-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
}

.title-section {
    font-size: 36px;
    margin: 100px 0px 30px;
    text-align: center;
    display: block;
    color: white;
    padding-bottom: 50px;
}